.page-buttons, .page-numbers { display: inline; }
.page-first { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.page-last { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }

@media (max-width: 991px) {
  .page-buttons, .page-numbers { display: block; text-align: center; }
  .page-buttons.top ul { margin-bottom: 0; }
  .page-buttons.bottom ul { margin-top: 0; }
  .page-numbers ul { margin: 0; }
}

@media (max-width: 550px) {
  .ellipses { display: none !important; }
}

.navbar-inverse .navbar-brand .highlight,
.navbar-inverse .navbar-brand .highlight {
  color: yellow;
}

.navbar-inverse .navbar-brand:hover .highlight,
.navbar-inverse .navbar-brand:focus .highlight {
  color: #fff;
}
