#leds { display: none; }
.gameDetails { text-align: center; color: <?php echo $fgcolour ?>; }
.gameDetails a { color: #9d9d9d; }
.gameDetails a:hover { color: <?php echo $fgcolour ?>; }
.nav-item.active > a { color: #fff; }

.navbar-brand { font-size: 1rem !important; color: #9d9d9d !important; }
.navbar-brand:hover { color: #fff !important; }
.navbar-brand .highlight, .navbar-brand .highlight { color: yellow; border: 0; }
.navbar-brand:hover .highlight, .navbar-brand:focus .highlight { color: #fff; }
